<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Company" value="DotNet開發聖殿" />
    <add key="客服專線" value="0800-000099" />
  </appSettings>
  <!--2.加入Application Services資料庫連線設定-->
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.;Initial Catalog=WebDB;User ID=sa;Password=test" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <trace enabled="true" />
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime enable="true" targetFramework="4.5" />
    <!--1.加入提供者Provider組態設定-->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <!--3.設定驗證模式為Forms，帳密的驗證才會去存取SQL Server中的WebDB資料庫-->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2880"/>
    </authentication>
    
    <!--授權給MIS角色-->
    <authorization>
      <allow roles="MIS"/>
    </authorization>

    <!--定義錯誤預設網頁-->
    <customErrors defaultRedirect="~/ErrorPage.htm" mode="On">
      <error statusCode="412" redirect="Error412.htm"/>
      <error statusCode="413" redirect="Error413.htm"/>
      <error statusCode="414" redirect="Error414.htm"/>
      <error statusCode="415" redirect="Error415.htm"/>
      <error statusCode="416" redirect="Error416.htm"/>
    </customErrors>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp from="admin@dotnet.com">
        <network host="192.168.3.4" password="" userName=""/>
      </smtp>
      <!--或使用Gmail SMTP發信
      <smtp from="admin@dotnet.com">
        <network host="smtp.gmail.com" password="密碼" port="587"
          userName="你的帳號@gmail.com"  enableSsl="true"/>
      </smtp>-->
    </mailSettings>
  </system.net>
</configuration>