<?xml version="1.0"?>
<configuration>
  <!--2.加入Application Services資料庫連線設定-->
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.;Initial Catalog=WebDB;User ID=sa;Password=test" providerName="System.Data.SqlClient"/>
    <add name="NorthwindConnectionString" connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa;Password=test" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <trace enabled="true" />
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime enable="true" targetFramework="4.5" />
    
    <!--1.加入提供者Provider組態設定-->
    <!--成員資格提供者-->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" 
             type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="ApplicationServices" 
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <!--角色提供者-->
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    
    <!--3.設定驗證模式為Forms，帳密的驗證才會去存取SQL Server中的WebDB資料庫-->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx"  protection="All" timeout="2880" path="/"/>
    </authentication>
    <authorization>
      <!--拒絕暱名使用者，強制一定要先登入-->
      <!--<deny users="?"/>-->
    </authorization>

    <!--定義錯誤預設網頁-->
    <customErrors defaultRedirect="~/ErrorPage.htm" mode="On">
    </customErrors>
  </system.web>

  <system.net>
    <mailSettings>
      <!--<smtp from="admin@dotnet.com">
        <network host="192.168.3.4" password="" userName=""/>
      </smtp>-->
      <!--或使用Gmail SMTP發信-->
      <smtp from="admin@dotnet.com">
        <network host="smtp.gmail.com" password="密碼" port="587"
          userName="你的帳號@gmail.com"  enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>