<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--預設的資料庫連線設定
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" 
         connectionString="Data Source=(LocalDb)\v11.0;
         Initial Catalog=aspnet-GridViewSource-20121019163149;
         Integrated Security=SSPI;
         AttachDBFilename=|DataDirectory|\aspnet-GridViewSource-20121019163149.mdf" />
  </connectionStrings>
  -->

  <connectionStrings>
    <add name="NorthwindConnectionString1" connectionString="Data Source=.;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=test"
            providerName="System.Data.SqlClient" />

    <add name="NorthwindDB" connectionString="Data Source=.;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=test"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
