@import url(basic.css);

#content
{
	background-image: url('../../Images/blue_swirls.png');
}

#loginStyle
{
	text-align:center;
    position:relative;
	top: 0px;
}

#pwdStyle * 
{
	vertical-align:middle;
}


