<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="PhotoUpload.aspx">
    <system.web>
      <!--設定檔案上載大小10MB(10,000KB)-->
      <httpRuntime maxRequestLength="10000" executionTimeout="120" />
    </system.web>
  </location>

  <system.web>
    <!--授權給Admin群組才能使用-->
    <authorization>
      <deny users="?" />
      <allow roles="Admin" />
      <deny users="*" />
    </authorization>
  </system.web>
</configuration>